@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@font-face {
    font-family: Delight;
    src: url("assets/fonts/Delight-ExtraBold.ttf");
}

:root {
    --primary: #649be7;
    --lite: #fdfffb;
    --dark: #10100e;
}

.bg-primary {
    background-color: var(--primary);
}

.text-primary {
    color: var(--primary);
}

.bg-lite {
    background-color: var(--lite);
}

.text-lite {
    color: var(--lite);
}

.bg-dark {
    background-color: var(--dark);
}

.text-dark {
    color: var(--dark);
}

h1 {
    font-family: Delight, "Familjen Grotesk", Helvetica, sans-serif;
    color: var(--dark);
}

p {
    font-family: "Familjen Grotesk", Helvetica, sans-serif;
}

*::selection {
    background-color: var(--dark);
    color: white;
}

#app {
    width: 100%;
    position: relative;
    min-height: 100dvh;
    height: 100%;
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: clip;
    /*overflow-y: hidden;*/
}

* {
    box-sizing: border-box;
}


html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    background-color: var(--lite);
}

body {
    overflow-y: auto;
}

.familjen-grotesk {
    font-family: "Familjen Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
}